name: linters

on:
  pull_request:
    branches: ["*"]
  push:
    branches:
      - "main"

jobs:
  commitlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: wagoid/commitlint-github-action@v6
        with:
          configFile: .commitlintrc.mjs
          token: ${{ secrets.GITHUB_TOKEN }}

  linters:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: azure/setup-helm@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
      - uses: actions/setup-python@v5
        with:
          python-version: "3.x"
          check-latest: true
      - uses: helm/chart-testing-action@v2
      - run: |
          ct lint --target-branch ${{ github.event.repository.default_branch }}
      - uses: stackrox/kube-linter-action@v1
        with:
          directory: anza-labs/
          config: .kube-linter.yaml
